<div class="container">
<div *ngFor="let data of birdsData" class="birdsClass">
    <div class="heading">
    <span class="birdName">{{data.id}}</span><span class="birdName">{{data.author}}</span><span class="birdName"> {{data.author}}</span>
</div>
  
    <div style="height:210px;width:100%; border-radius:4px;padding-top: 10px;">
      <img src="{{data.download_url}}" style="width:100%; height:200px;border-radius: 4px;">
    </div>
</div>
</div>

<div class="accordion" id="accordionExample" *ngFor="let data of birdsData">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
            <span class="birdName">{{data.id}}</span><span class="birdName">{{data.author}}</span><span class="birdName"> {{data.author}}</span>

        </button>
      </h2>
      <div id="collapseOne1" class="accordion-collapse collapse " aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            <div style="height:210px;width:100%; border-radius:4px;padding-top: 10px;">
                <img src="{{data.download_url}}" style="width:100%; height:200px;border-radius: 4px;">
              </div>
        </div>
      </div>
    </div>
    </div>